footer {
  background-color: var(--footer-BG);
  color: white;
  font-size: 17px;
  padding-block: 1rem;
  margin-top: 3rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  & span {
    color: rgb(212, 63, 63);
    text-transform: capitalize;
  }
}
